<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="ISO-8859-1" />
<title th:text="'Curso Spring: ' + ${titulo}"></title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	id="bootstrap-css">
<link th:href="@{/css/estilo.css}" rel="stylesheet" id="bootstrap-css">
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/form}">Crear nuevo<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/listar}">Lista clientes</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-danger" th:if="${danger != null}" th:text="${danger}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" id="sticky-footer"
		class="py-4 bg-dark text-muted">
		<div class="container text-center">
			<img th:src="@{/images/spring-logo.png}" class="imgd"
				alt="Logo Spring" /> <small>Proyecto de Spring Boot y Thymeleaf</small>
		</div>
		<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
	</footer>

</body>
</html>