<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text=${titulo}></div>
			<div class="card-body">

				<form th:action="@{/form}" th:object="${cliente}" method="post"
					enctype="multipart/form-data">

					<div class="form-group">
						<label for="nombre" class="form-col-label col-sm-2">Nombre</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{nombre}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>
					<div class="form-group">
						<label for="apellido" class="form-col-label col-sm-2">Apellido</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{apellido}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="form-col-label col-sm-2">Email</label>
						<div class="col-sm-6">
							<input type="email" class="form-control" th:field="*{email}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>
					<div class="form-group">
						<label for="fecha" class="form-col-label col-sm-2">Fecha</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{createdAt}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createdAt')}"
								th:errors="*{createdAt}"></small>
						</div>
					</div>
					<div class="form-group">
						<label for="file" class="form-col-label col-sm-2">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" class="btn btn-primary"
								value="Crear cliente" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>