<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text=${titulo}></div>
			<div class="card-body">
			<h4 class="card-title">
				<a th:href="@{/form}" class="btn btn-primary btn-xs">Crear cliente</a>
			</h4>
			</div>
			

			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th>nombre</th>
						<th>apellidos</th>
						<th>email</th>
						<th>fecha</th>
						<th>editar</th>
						<th>eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${clientes}">
						<td><a class="btn btn-info btn-xs" th:href="@{/ver/} + ${cliente.id}" th:text=${cliente.id}></a></td>
						<td th:text=${cliente.nombre}></td>
						<td th:text=${cliente.apellido}></td>
						<td th:text=${cliente.email}></td>
						<td th:text=${cliente.createdAt}></td>
						<td><a class="btn btn-primary"
							th:href="@{/form/}+ ${cliente.id}">Editar</a></td>
						<td><a class="btn btn-danger"
							th:href="@{/eliminar/}+ ${cliente.id}"
							onclick="return confirm('Estas seguro de querer eliminar el cliente seleccionado?');">Eliminar</a></td>

					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>